<%- include("Header") -%>
<div class="template-section">
  <h1>Template Example</h1>
  <div class="template-example">
    <div class="logo">
      <img src="/sample_logo.png" />
    </div>
    <div class="main-body">
        <h1>Serving the community one step at a time.</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="#">LEARN MORE</a>
    </div>

    <div class="filler-body">
        <p>WELCOME TO</p>
        <h1>(Company Name Here)</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="#">SEE OUR SERVICES</a>
    </div>

  </div>

</div>
<%- include("Footer") -%>
